Source: snake4
Section: games
Priority: optional
Maintainer: Jose Carlos Medeiros <debian@psabs.com.br>
Uploaders: Ola Lundqvist <opal@debian.org>
Build-Depends: debhelper (>= 5), libx11-dev, libxt-dev, x-dev, libxaw7-dev, libshhmsg1-dev, libshhopt1-dev
Standards-Version: 3.6.2

Package: snake4
Architecture: any
Depends: ${shlibs:Depends}
Description: Snake game
 This is a basic but nice implementation of the snake game. The objective
 is to "snake around" and eat fruit, while avoiding the evil headbanger
 and not crashing into your tail.
 .
 Features five levels of difficulty and a site-wide high score list.
 .
 Homepage: http://shh.thathost.com/pub-unix/#snake4
