#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

build-arch: build-stamp
build-indep:

build-stamp:
	dh_testdir
	$(MAKE) INSTLIBDIR=/var/games/snake4
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	$(MAKE) clean
	dh_clean

binary-indep:

binary-arch: build-stamp
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/snake4
	cp debian/snake4.xpm \
		$(CURDIR)/debian/snake4/usr/share/pixmaps;
	cp debian/snake4.desktop \
		$(CURDIR)/debian/snake4/usr/share/applications;
	rm -f debian/snake4/var/games/snake4.score;
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installmenu
	dh_installdebconf
	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
build: build-arch build-indep
.PHONY: build build-arch build-indep clean binary-indep binary-arch binary

